@import "../node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --background-primary-color: #0c0716;
  --background-secondary-color: #252032;
  --background-landing-mobile-statistic-list-color: linear-gradient(
    92deg,
    #252032 1.59%,
    rgba(37, 32, 50, 0.5) 67.44%,
    rgba(37, 32, 50, 0.3) 96.35%
  );
  --background-landing-statistic-list-color: linear-gradient(
    180deg,
    rgba(10, 7, 21, 0) 1.79%,
    #0c0716 46.68%,
    #0c0716 100%
  );
  --background-landing-about-us-circle-outer-color: linear-gradient(
    323deg,
    #040304 11.09%,
    #1d1921 84.99%
  );
  --background-landing-about-us-circle-middle-color: linear-gradient(
    323deg,
    #060507 11.09%,
    #221e28 84.99%
  );
  --background-landing-about-us-circle-inner-color: linear-gradient(
    323deg,
    #120f17 11.09%,
    #2c2733 84.99%
  );
  --background-landing-about-us-benefit-list-item-color: linear-gradient(
    152deg,
    #2a2531 6.6%,
    #17131c 94.23%
  );
  --background-landing-question-area-color: linear-gradient(
    99deg,
    #252032 0%,
    rgba(37, 32, 50, 0.5) 41.68%,
    rgba(37, 32, 50, 0.3) 96.75%
  );
  --background-sphere-color: #b585fc;

  --button-primary-color: #ffffff;
  --button-primary-text-color: #0c0716;

  --text-primary-color: #ffffff;
  --text-secondary-color: #7f808d;

  --border-mobile-menu-color: transparent;
  --border-landing-about-us-circle-outer-color: radial-gradient(
    farthest-side at 30% 30%,
    #2f2939,
    #0c0716
  );
  --border-landing-about-us-circle-middle-color: radial-gradient(
    farthest-side at 5% 5%,
    #3a3345,
    #0c0716
  );
  --border-landing-about-us-circle-inner-color: radial-gradient(
    farthest-side at 5% 5%,
    #383142,
    #0c0716
  );
  --border-landing-about-us-benefit-list-item-color: radial-gradient(
    farthest-side at 40% 5%,
    #645c70,
    #2e204b
  );
  --border-landing-product-link-color: #ffffff;
  --border-landing-coin-list-item-color: #b585fc;
  --border-footer-color: #292c3d;
  --border-rules-info-area-color: #b585fc;

  --svg-primary-color: #ffffff;
  --svg-secondary-color: #7f808d;
  --svg-reverse-color: #252032;
}

[data-theme="light"] {
  --background-primary-color: #fefefe;
  --background-secondary-color: #f1f1f1;
  --background-landing-mobile-statistic-list-color: linear-gradient(
    125deg,
    #6e6b70 -24.73%,
    #1d1d21 98.56%
  );
  --background-landing-statistic-list-color: transparent;
  --background-landing-about-us-circle-outer-color: linear-gradient(
    158deg,
    #6e6b70 16.86%,
    #1d1d21 93.99%
  );
  --background-landing-about-us-circle-middle-color: linear-gradient(
    158deg,
    #6e6b70 16.86%,
    #1d1d21 93.99%
  );
  --background-landing-about-us-circle-inner-color: linear-gradient(
    158deg,
    #6e6b70 16.86%,
    #1d1d21 93.99%
  );
  --background-landing-about-us-benefit-list-item-color: linear-gradient(
    158deg,
    #353438 16.86%,
    #1d1d21 93.99%
  );
  --background-landing-question-area-color: linear-gradient(
    125deg,
    #6e6b70 -24.73%,
    #1d1d21 98.56%
  );
  --background-sphere-color: transparent;

  --button-primary-color: #333333;
  --button-primary-text-color: #ffffff;

  --text-primary-color: #333333;
  --text-secondary-color: rgba(51, 51, 51, 0.5);

  --border-mobile-menu-color: #f1f1f1;
  --border-landing-about-us-circle-outer-color: radial-gradient(
    farthest-side at 30% 30%,
    #c1a875,
    #c1a875
  );
  --border-landing-about-us-circle-middle-color: radial-gradient(
    farthest-side at 5% 5%,
    #c1a875,
    #c1a875
  );
  --border-landing-about-us-circle-inner-color: radial-gradient(
    farthest-side at 5% 5%,
    #c1a875,
    #c1a875
  );
  --border-landing-about-us-benefit-list-item-color: linear-gradient(
    158deg,
    #353438 16.86%,
    #1d1d21 93.99%
  );
  --border-landing-product-link-color: #000000;
  --border-landing-coin-list-item-color: #a7a7a7;
  --border-footer-color: rgba(51, 51, 51, 0.2);
  --border-rules-info-area-color: #a7a7a7;

  --svg-primary-color: #333333;
  --svg-secondary-color: #333333;
  --svg-reverse-color: #ffffff;
}

body {
  min-height: 100vh;

  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  overflow-x: hidden;

  background: var(--background-primary-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background 500ms, color 500ms, border-color 500ms;
  -moz-osx-transition: background 500ms, color 500ms, border-color 500ms;
  -webkit-transition: background 500ms, color 500ms, border-color 500ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  transition: color 500ms;
  -moz-osx-transition: color 500ms;
  -webkit-transition: color 500ms;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;

  cursor: pointer;

  transition: background 500ms, color 500ms, border-color 500ms;
  -moz-osx-transition: background 500ms, color 500ms, border-color 500ms;
  -webkit-transition: background 500ms, color 500ms, border-color 500ms;
}

button:disabled {
  cursor: not-allowed;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

div {
  transition: background 500ms, color 500ms, border-color 500ms;
  -moz-osx-transition: background 500ms, color 500ms, border-color 500ms;
  -webkit-transition: background 500ms, color 500ms, border-color 500ms;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfiel;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.Toastify__toast-container {
  z-index: 999;
}

.Toastify__close-button {
  display: none;
}
